extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/lib/flipdown.css')

block javascript
  script(src='/javascripts/liftoffin.js')

block content
  .container.h-100
    .row.align-items-center.h-100
      .col-10.mx-auto
        p.display-4= message
        h1.display-1.text-monospace#countdown 00:00:00
        script.
          const countDownDate = new Date('#{year}-#{month}-#{day}T#{hour}:#{minute}:#{second}').getTime();
          const interval = setInterval(function() {
            if (countDownDate < new Date().getTime()) {
              clearInterval(interval);
            }
            drawTimer(countDownDate, 'countdown');
          }, 1000);
          drawTimer(countDownDate, 'countdown');
